/*iPadの横を想定（pxの指定あり）*/

@media screen and (max-width: 1366px) {
    html {
        /* ルートのフォントサイズを8pxに設定 */
        font-size: 50.0%;
    }
    .container {
        max-width: 95%;
    }
    .container__spot {
        max-width: 90%;
    }
    .header__logo {
        width: 20rem;
    }
    .nav__list {
        display: none;
    }
    .nav-mobile__opener {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFB549;
        font-size: 40px;
    }
    .home-photos__title {
        margin-bottom: 10px;
    }
    .home-photos__description {
        line-height: 24px;
        margin: 0;
    }
    .home-map {
        height: 350px;
    }
    .footer__hotel-name {
        margin-bottom: 30px;
    }
    .footer__address {
        line-height: 35px;
        margin: 0;
    }
    .spot-table__row3 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .spot-table__row3-item {
        width: 30%;
    }
    .spot-table__row3-photo {
        width: 90%;
    }
    .spot-map__google-map {
        height: 400px;
    }

}

/*調整用レイアウト*/

@media screen and (max-width: 700px) {
    .rooms-table__room {
        margin-top: 60px;
    }
    .rooms-table__row1-text {
        left: 52%;
        width: 47%;
    }
    .rooms-table__text-title {
        font-size: 1.6rem;
        line-height: 0rem;
    }
    .rooms-table__text-description {
        font-size: 0.7rem;
        margin-top: 0;
    }
    .facilities-table__text {
        font-size: 1.0rem;
    }
    .spot-table__row1-photo {
        width: 50%;
        padding-right: 20%;
    }
    .spot-table__text-font {
        font-size: 1.4rem;
    }
}

/*スマホ向けレイアウト（pxの指定あり）*/

@media screen and (max-width: 414px) {
    html {
        /* ルートのフォントサイズを6pxに設定 */
        font-size: 37.5%;
    }
    .container {
        max-width: 350px;
    }
    .container__spot {
        max-width: 350px;
    }
    .home-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-photos__item {
        margin-bottom: 0;
    }
    .home-photos__text {
        margin-top: 0;
        margin-bottom: 5%;
    }
    .home-photos__title {
        text-align: center;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
    }
    .order3 {
        order: 3;
    }
    .order4 {
        order: 4;
    }
    .order5 {
        order: 5;
    }
    .order6 {
        order: 6;
    }
    .order7 {
        order: 7;
    }
    .order8 {
        order: 8;
    }
    .rooms-table__room {
        margin-top: 40px;
    }
    .rooms-table__row1-text {
        left: 51%;
        width: 50%;
    }
    .rooms-table__text-title {
        font-size: 1rem;
    }
    .rooms-table__text-description {
        font-size: 10px;
    }
    .spot-table__text-font {
        font-size: 1.0rem;
    }
    .spot-table__row1 {
        position: static;
        width: 100%;
        margin-top: 5rem;
    }
    .spot-table__row1-photo {
        width: 100%;
    }
    .spot-table__row1-text {
        position: static;
    }
    .spot-table__row2 {
        margin-top: 4rem;
    }
    .spot-table__row3 {
        margin-top: 4rem;
    }
}